<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>South of 6 Data Cleaner</title>
</head>
<body>
    <div class="center">
        <h1>Call for Service Data Cleaner</h1>
        <p>Data must be in same format as stated in documentation, otherwise this site will return an error. <br />Please only upload Excel (.xlsx) files, any other file type will return an error.</p>
        <form method="POST" action="/" enctype="multipart/form-data">
            <input class="ok" type="file" name="file">
            <button class="op">Submit</button>
        </form>
    </div>
</body>
</html>